<div class="au-xs-ta-center au-lg-ta-left">

  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <a  *ngFor="let producto of productosService.productosFiltrado"
        href="portfolio-item.html" 
        class="animated fadeIn rk-item ae-masonry__item"
        [routerLink]="['/item', producto.cod]">
      <img src="assets/productos/{{producto.url}}.jpg" alt="">
      <div class="item-meta">
        <h2>{{producto.titulo}}</h2>
        <p>{{producto.categoria}}</p>  
      </div>
    </a>

  </div>
</div>